<footer id="mainFooter">

  <div class="topFooter">

      <div class="genreFooter">
        <ul>
          <li><a href="#">Animazione</a></li>
          <li><a href="#">Drammatico</a></li>
          <li><a href="#">Indipendente</a></li>
          <li><a href="#">Azione</a></li>
          <li><a href="#">Fantascenza</a></li>
          <li><a href="#">Romantico</a></li>
          <li><a href="#">Commedia</a></li>
          <li><a href="#">Horror</a></li>
          <li><a href="#">Thriller</a></li>
        </ul>
      </div>

      <div class="iconFooter">
        <div class="navFooter">
          <ul >
            <li><a href="#">About</a></li>
            <li><a href="#">Faq</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
        <div class="socialIcon">
          <ul>
            <li> <!-- s: socialIcon: Facebook -->
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-twitter fa-stack-1x social"></i>
                </span>
              </a>
            </li> <!-- e: socialIcon: Facebook -->
            <li> <!-- s: socialIcon: Twitter -->
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-facebook fa-stack-1x social"></i>
                </span>
              </a>
            </li> <!-- e: socialIcon: Twitter -->
            <li> <!-- s: socialIcon: Instagram -->
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-instagram fa-stack-1x social"></i>
                </span>
              </a>
            </li> <!-- e: socialIcon: Instagram -->
          </ul>
        </div>
      </div>

    </div>

  <div class="subFooter">
    <ul>
      <li><a href="#">Privacy Policy</a></li>
      <li><a href="#">Terms of Use</a></li>
      <li><a href="#">Closed Captioning</a></li>
    </ul>
    <p>
      © Inside Cult TV Inc. All rights reserved.
    </p>
  </div>
</footer>
