<div id="mainGuide_guide">

<div id="guideL">

<ul class="container1">
  <li>
    <div class="containerH">06:00</div>

    <a href="#" class="">
      <div class="containerM">
        <h3>Carne Tremula</h3>
        <span>ESP - 1997 Pedro Almodovar</span>
      </div>
    </a>
  </li>
  <li>
    <div class="containerH">08:00</div>

    <a href="#" class="">
      <div class="containerM">
        <h3>Io non sono qui</h3>
        <span>DEU - 2007 Todd Hayes</span>
      </div>
    </a>
  </li>
  <li>
    <div class="containerH">10:00</div>

    <a href="#" class="">
      <div class="containerM">
        <h3>Anomalisa</h3>
        <span>USA - 2015  Charlie Kaufman</span>
      </div>
    </a>
  </li>
</ul>

<ul class="container2">
  <li>
    <div class="containerH">12.00</div>

    <a href="#" class="">
      <div class="containerM">
        <h3>Mr.Nobody</h3>
        <span>FRA - 2009  Jaco Van Dormael</span>
      </div>
    </a>
  </li>
  <li>
    <div class="containerH">14.00</div>

    <a href="#" class="">
      <div class="containerM">
        <h3>Il Petroliere</h3>
        <span>USA - 2007  Paul Thomas Anderson</span>
      </div>
    </a>
  </li>
  <li>
    <div class="containerH">16.00</div>

    <a href="#" class="">
      <div class="containerM">
        <h3>The Lobster</h3>
        <span>GBR - 2015  Yorgos Lanthimos</span>
      </div>
    </a>
  </li>
</ul>

</div>

<div id="guideR">
<ul class="container3">
  <li>
    <div class="containerH">18.00</div>

    <a href="#">
      <div class="containerM">
        <h3>Non Essere Cattivo</h3>
        <span>ITA - 2015 Claudio Caligari</span>
      </div>
    </a>
  </li>

  <li>
    <div class="containerH">20.00</div>

    <a href="#">
      <div class="containerM">
        <h3>The Big Kahuna</h3>
        <span>USA - 2008 John Swanbeck</span>
      </div>
    </a>
  </li>

  <li>
    <div class="containerH">22.00</div>

    <a href="#">
      <div class="containerM">
        <h3>Il Racconto dei Racconti</h3>
        <span>FRA - 2015 Matteo Garrone</span>
      </div>
    </a>
  </li>
</ul>

<ul class="container4">
  <li>
    <div class="containerH">00.00</div>

    <a href="#">
      <div class="containerM">
        <h3>The Master</h3>
        <span>USA - 2012 Paul Thomas Anderson</span>
      </div>
    </a>
  </li>

  <li>
    <div class="containerH">02.00</div>

    <a href="#">
      <div class="containerM">
        <h3>Jackie Brown</h3>
        <span>USA - 1997 Quentin Tarantino</span>
      </div>
    </a>
  </li>

  <li>
    <div class="containerH">04.00</div>

    <a href="#">
      <div class="containerM">
        <h3>Mommy</h3>
        <span>CAN - 2014 Xavier Dolan</span>
      </div>
    </a>
  </li>
</ul>

</div>

</div>
